.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.video-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  margin: 64px;
}

.video {
  height: 360px;
  width: 640px;
  background-color: black;
  border-radius: 12px;
}

.SDP-Input {
  width: 80%;
  padding: 12px;
  border-radius: 12px;
  font-size: 16px;
  font-family: monospace;
}

.action-buttons {
  width: 80%;
  margin: 32px;
  display: flex;
  justify-content: space-evenly;
}

.action-buttons button {
  width: 120px;
  height: 60px;
  border-radius: 12px;
}

.sdp-text {
  font-size: 6px;
}